@import url("https://unpkg.com/@tailwindcss/typography@0.2.x/dist/typography.min.css");
@import url("https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css");
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@500;700&family=Open+Sans:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,700&display=swap');


.cursive {
  font-family: "Archivo", cursive;
  font-weight: 700;
  user-select: none;
}

.casual {
  font-family: "Poppins";
  font-weight: 500;
  user-select: none;
}

.post-text {
  font-family: "Roboto";
  font-weight: 400;
}

.nav-button {
  transition: all .5s ease;
}

.nav-button:hover {
  background-color: #6D28D9;
  border-radius: 0.25rem;
}

.prose img {
  margin-left: auto;
  margin-right: auto;
  border-radius: 5xp;
}

.text-reveal-left{
  animation: text-arrive-left 2s 1;
}

.text-reveal{
  opacity: 0;
  animation: text-arrive 2s 1 forwards;
  animation-delay: 2s;
}

@keyframes text-arrive-left {
  0% {
      width: 0%;
      left: 5%;
      opacity: 0;
  }
  40%{
    opacity: 0%;
  }
  80%{
    opacity: 1;
  }
  100% {
      opacity: 100%;
      width: 100%;
      left: 100%;
  }
}

@keyframes text-arrive {
  0% {
      opacity: 0;
  }
  20% {
      opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
